<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <ul class="navBar">
    <li><a href="/users">Home</a></li>
    <li><a href="/characters/new">Add</a></li>
    <li><a href="">Delete</a></li>
    <li><a href="/characters/view">My Charcters</a></li>
        </div>
    </li>
    <!-- <button class="btn" type="button" href="/logout">Logout</button> -->
    <li style="float:right"><a class="lo" href="/logout">Logout</a></li>
</ul> 
  <main>