body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  color: #00B7FF;
}

h1, h3 {
  display: grid;
  text-align: center;
  padding: auto 10px;
}
p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  /* color: white; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blanchedalmond;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

div {
  display: flex;
  justify-content: space-evenly;
  border-color: red;
}

.navBar:last-child {
float: right
}

#sub {
  position: absolute;;
  bottom: 3%;
  align-content: space-between;
}
form {
font-size: 1rem;
}

select, #name {
  width: 20%;
  height: 15%;
}

#sub {
  width: 10%;
  height: 5%;
  align-content: center;
}
.navBar {
  background-color: royalblue;
}

.edit   {
  display: grid;
}