body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  display: grid;
  text-align: center;
  padding: auto 10px;
}
p {
  text-align: center;
}
