<%- include('../partials/header') %>
<title>Dragon's Den</title>

    <div class="flex"  id="curChar">
            Character poop
    </div>
    <div class="flex" id="charList">
            List poop
    </div>
    <div class="flex" id="stats">
            Stat poop
    </div>

    <%- include('../partials/footer') %>