<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon's Den</title>
</head>
<body>
    <ul class="navBar">
        <li><a href="#home">Home</a></li>
        <li><a href="#add">Add</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Characters</a>
            <div class="dropdown-content">
                <a href="#"><%= %></a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <!-- <button class="btn" type="button" href="/logout">Logout</button> -->
        <li style="float:right"><a class="lo" href="/logout">Logout</a></li>
    </ul>    
    <div class="flex"  id="curChar">
        Character poop
    </div>
    <div class="flex" id="charList">
        List poop
    </div>
    <div class="flex" id="stats">
        Stat poop
    </div>
</body>
</html>