<%- include('../partials/header') %>
<title>Dragon's Den</title>

    <div class="flex"  id="curChar">
            Character poop
    </div>
    <div class="flex" id="charList">
            List poop
    </div>
    <div class="flex" id="stats">
            Stat poop
    </div>
    <ul>
    <% character.forEach((char, index) => { %>
        <li style="color: aqua;" > <%= char.name %> </li> <br> <br>
    <% }) %>
    </ul>

    <%- include('../partials/footer') %>