<%- include('../partials/header') %>

    <h1>LET'S PLAY GODS</h1>
    <h3>Design your hero</h3>
    
    <form action="/users/<%=user.id%>/characters" method="POST" > 
        <label for="name">Character Name:</label>
    </br>
            <input required type="text" id="name" name="name" placeholder="Enter Name">
        </br></br>
            <label for="race">Choose a race:</label>
        </br>
            <select id="race" name="race">
                <option disabled selected hidden>Select</option>
                <option value="Lizard-folk">Lizard-folk</option>
                <option value="Pantherkin">Pantherkin</option>
                <option value="Human">Human</option>
            </select>
        </br></br>
            <label for="gender">Gender</label>
        </br>
            <select id="gender" name="gender">
                <option disabled selected hidden>Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        <br><br>
            <label for="focus">Choose your combat focus:</label>
        </br>
            <select id="focus" name="focus">
                <option disabled selected hidden>Select</option>
                <option value="warrior">Warrior</option>
                <option value="mage">Mage</option>
                <option value="rogue">Rogue</option>
            </select>
        </br></br>
            <label for="role">Choose your battle role:</label>
        </br>
            <select id="role" name="role">
                <option disabled selected hidden>Select</option>
                <option value="damage-dealer">Damage Dealer</option>
                <option value="healer">Healer</option>
                <option value="crowd-control">Crowd Control</option>
            </select>        
        </br></br>
            <input id="sub" type="submit" value="Create Character">
        </form>
        
        
    <%- include('../partials/footer') %>
