<%- include('../partials/header') %>

    <h1>LET'S PLAY GODS</h1>
    <h3>Design your hero</h3>
    
    <form action="/users/<%=user.id%>/characters" method="POST" > 
        <label for="name">Character Name:</label></br>
            <input type="text" id="name" name="name"></br></br>
        <label for="race">Race</label></br>
            <input type="radio" checked="checked" value="human" name="race">Human
            <input type="radio" value="lizard" name="race">Reptilia
            <input type="radio" value="panther" name="race">Patherkin</br></br>
            
            <label for="gender">Gender</label></br>
            <input type="radio" checked="checked" value="male" name="gender">Male
            <input type="radio" value="female" name="gender">Female</br></br>

            <label for="focus">Battle Focus</label></br>
                <input type="radio" checked="checked" value="warrior" name="focus">Warrior
                <input type="radio" value="mage" name="focus">Mage
                <input type="radio" value="rogue" name="focus">Rogue</br></br>
            <!-- <label for="race">Choose a race:</label></br>
            <select id="race" name="race" form="race">
                <option value="lizard">Lizard-folk</option>
                <option value="panther">Pantherkin</option>
                <option value="human">Human</option>
            </select></br></br>
        <label for="focus">Choose your combat focus:</label></br>
            <select id="focus" name="focus" form="focus">
                <option value="warrior">Warrior</option>
                <option value="mage">Mage</option>
                <option value="rogue">Rogue</option>
            </select> -->
        <input id="sub" type="submit" value="new-character">
    </form>

    <%- include('../partials/footer') %>